.model {
    transition: all 5s ease !important;
    min-height: auto !important;
}

.model-close {
    display: none;
    visibility: hidden;
}

.model-open {
    display: block;
    visibility: visible;
}

.card-text {
    padding: 5px !important;
}

.card {
    min-height: auto !important;
}

.card:hover {
    cursor: pointer;
    background-color: rgb(232, 232, 232);
}



.RichTextEditor__root___2QXK- {
    max-width: 500px;
    height: 500px;
}